.label_main_menu {
    -unity-font: url('project://database/Assets/Tools/UI%20Toolkit/Font/Roboto-Regular.ttf?fileID=12800000&guid=86508487a2fb2764da7797313ff77aa2&type=3#Roboto-Regular');
    -unity-font-definition: initial;
    font-size: 28px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    width: auto;
    align-self: flex-start;
}

.label_main_menu:hover {
    color: rgb(255, 255, 255);
    -unity-font: url('project://database/Assets/Tools/UI%20Toolkit/Font/Roboto-Regular.ttf?fileID=12800000&guid=86508487a2fb2764da7797313ff77aa2&type=3#Roboto-Regular');
    font-size: 28px;
    -unity-font-definition: initial;
    margin-top: 15px;
    margin-bottom: 15px;
}

.unity-popup-field {
    color: rgb(255, 255, 255);
    font-size: 34px;
    -unity-font: url('project://database/Assets/Tools/UI%20Toolkit/Font/Roboto-Regular.ttf?fileID=12800000&guid=86508487a2fb2764da7797313ff77aa2&type=3#Roboto-Regular');
    -unity-font-definition: initial;
}
